.search-input
{
    height: 45px;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    border-radius: 10px 0 0 10px;

}


.search-input input
{
    border-radius: 10px 0 0 10px;
    width: 500px;
    height: 45px;
    font-size: 18px;
    float: left;
    overflow: hidden;
    outline: 0;

}
.search-input input:hover
{
    border-color: #FF9900;
}

.search-btn
{
    border:0;
    border-radius: 0 10px 10px 0;
    background-color: #FF9900;
    background-image: url("searchIcon.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 51px;
    width: 51px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    cursor: pointer;
    outline:0;

}

.search-btn:hover
{
    background-color: orange;
}

.search-select
{
    position: absolute;
    top: 45px;
    width: 600px;
    box-sizing: border-box;
    z-index: 999;
    color:white;
}

.search-select ul
{
    padding-left: 0px;
    padding-right: 0px;
    width: 500px;
    margin: 0px;

}

.search-select li {
    display: flex;
    border-top: none;
    border-bottom: none;
    width: 500px;
}
.search-select-option {
    box-sizing: border-box;
}


input::-ms-clear {
    display: none
}

.search-reset {
    width: 21px;
    height: 21px;
    position: absolute;
    display: block;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    right: 110px;
    top: 12px
}
.search-select-list {
    transition: all 0.5s
}
.itemfade-enter,
.itemfade-leave-active {
    opacity: 0;
}
.itemfade-leave-active {
    position: absolute;
}

.search-select ul{
    margin:0;text-align: left;
}