html,body{
    height: 100%;
}

body {
    color:white;
    background-color: black;
    margin: 0px;
    /* font: 16px/1.25 "Helvetica", "Lucida Grande", sans-serif; */
}
.main
{
    display: flex;
    flex-direction: row;
    color:white;
    background-color: black;

}


#app-chart {
    width:100%;
    margin-left: 10%;
    margin-right: 10%;
    height:1000px;
    margin-top: 68px;
}


#courseInfo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px #333333 solid;
}

#courseTitle
{
    /* font, style */
    font-size: 36px;

}

#courseData
{

}

#professor
{
    /* font, style */
    font-size: 16px;
    color: #cacaca;
}

#statistics
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 220px;


}

.statBlock
{
    flex:50%;
    max-width: 50%;
    max-height: 100%;
    text-align: center;
}

.statTitle
{
    font-size: 14px;
    margin-bottom: 10px;
}

.statValue
{
    font-size: 104px;
    color: #FF9900;
    font-family: Impact;

}

#options
{
    text-align: center;
}


#pastWeek, #pastMonth
{
    /* Style from Google*/
    background-color: #FF9900;
    color:black;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:none;
    display:inline-block;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    padding:10px 46px;
    text-decoration:none;
    text-align: center;
    /* Self setting */
    margin-top: 20px;
    margin-bottom: 20px;
}
#pastWeek:hover, #pastMonth:hover
{

    background-color: orange;
}
#pastWeek:active, #pastMonth:active {
    /* Style from Google*/
    position:relative;
    top:1px;
}
