body {
    color:white;
    background-color: black;
    margin: 0px;
    /* font: 16px/1.25 "Helvetica", "Lucida Grande", sans-serif; */
}

nav
{
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-size: 30px;
    display: flex;
    flex-direction: row;

}

.websiteName
{
    color: white;
    width: 20%;
    padding: 14px 16px;
    text-decoration: none;
}

.websiteName a
{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    width: 75%;
    padding: 0px 16px;
    font-weight: lighter;

}

li {
    float:right;
    padding: 14px 10px;
    height: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li:hover {
    background-color: #111;

}

.main {
    display: grid;    
    grid-template-columns: 1fr 5fr;
    color:white;
    background-color: black; 
    
}

.contents {
    grid-template-rows: repeat(4, 12.5%);
    border-left: 1px #333333 solid;
    
}
#departName {
    padding: 8px;
    color: #ffffff;
    font-size: 16px;
    border: 1px #888888 solid;
}
#departCourses {
    grid-template-rows: repeat(4, 12.5%);
    border-left: 1px #333333 solid;
}
.course {
    /* padding, marging, etc. */
    background: #1b1b1b;
    border: 1px #a4d9ee;
    padding: 16px;
    border: 1px #888888 solid;
    box-shadow: 2px 2px #333333;
    color: #ff9900;
}
/* .courseName {
    color: white;
} */

/* Event when mouse hovering over "course" */
.course:hover {
    background-color: black;
    text-decoration: underline;
}
.courseNo {
    /* font, style */
    font-size: 24px;
}
.professor {
    /* font, style */
    font-size: 16px;
    color: #cacaca;
}

