<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='index/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index/search.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='nav.css')}}">
    <!-- JQuery support -->
    <script src = "{{url_for('static', filename='library/jquery-3.3.1.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <nav>
        <div class ="logo">

        </div>

        <div class = "websiteName" id="websiteName_index">
            <a href="index">
                <b style="color:white">RPI</b><b style="color:orange">CourseTrends</b>
            </a>

            </div>

        </div>


        <ul>
            <li><a href="#TBD"> About </a></li>
            <li><a href="#TBD"> Past Semester </a></li>
            <li><a href="index"> Fall 2018 </a> </li>


        </ul>
    </nav>



    <div class = "contents" id="app">
        <div class = "intro">
            Know more about your courses at RPI
        </div>
        <div class = "intro2" >
            Find a course by course department or course number
        </div>
        <search-panel>

        </search-panel>
        <div class = "pastSemesterTreTBDnds">
            <!--<a href=="TBD" >-->
                <!--If you want to check course trends during past semesters,click here-->
            <!--</a>-->
        </div>

    </div>

    <script src = "{{url_for('static', filename='infoConfig.js')}}"></script>
    <script src = "{{url_for('static', filename='search.js')}}"></script>


</body>
</html>