body
{
    margin: 0px;
}

body
{
    height: 100%;
    weight: 100%;
    background-color:black;
}
.contents
{
    text-align: center;
}
.intro
{
    padding-top: 150px;
    color: #FF9900;
    font-size: 50px;
    font-weight:bolder;
    display: flex;
    flex-direction: column;
}
.intro2
{
    padding-top: 80px;
    padding-right: 50px;
    font-size:20px;
    color: white;
    font-weight: bolder;
}

.typeContent
{
    border:0;
    width:600px;
    height:50px;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    padding: 0px;
}


.pastSemesterTrends
{
    margin-top: 100px;


}

.pastSemesterTrends a
{
    color:white;
    font-weight: lighter;
    text-decoration: none;
}

#websiteName_index
{
    margin-left: 10px;
}