.search-input
{
    height: 45px;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;

}

.search-input input
{
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    width: 500px;
    height: 45px;
    font-size: 18px;
    float: left;
    overflow: hidden;
}
.search-btn
{
    height: 45px;
    width: 100px;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.search-btn
{
    cursor: pointer
}
.search-select
{
    position: absolute;
    top: 45px;
    width: 600px;
    box-sizing: border-box;
    z-index: 999;
    color:white;
}

.search-select ul
{
    padding-left: 0px;
    padding-right: 0px;
    width: 500px;
    margin: 0px;

}

.search-select li {
    display: flex;
    border-top: none;
    border-bottom: none;
    width: 500px;
}
.search-select-option {
    box-sizing: border-box;
}


input::-ms-clear {
    display: none
}

.search-reset {
    width: 21px;
    height: 21px;
    position: absolute;
    display: block;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    right: 110px;
    top: 12px
}
.search-select-list {
    transition: all 0.5s
}
.itemfade-enter,
.itemfade-leave-active {
    opacity: 0;
}
.itemfade-leave-active {
    position: absolute;
}

.search-select ul{
    margin:0;text-align: left;
}